<div class="row">
  <ul class="col-sm-6 list-inline">
    <li class="list-inline-item"><i class="fa fa-clock-o"></i> <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
    <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> <a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a></li>
    <li class="list-inline-item"><i class="fa fa-user-o"></i> <a href="{{ SITEURL }}/{{ AUTHORS_URL }}">Authors</a></li>
    {% if tags|length %}
      <li class="list-inline-item"><i class="fa fa-files-o"></i> <a href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a></li>
    {% endif %}
  </ul>
  <p class="col-sm-6 text-sm-right text-muted">
    <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
    / <a href="https://github.com/nairobilug/pelican-alchemy" target="_blank">Alchemy</a>
  </p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-2 fineprint">
    <p>
      This Blog does not use Cookies and does not write any Logfiles.<br>
      It doesn’t contain Ads and does not track you.<br>
      It does not load Assets from 3rd-Party domains.<br>
      I hope you are okay with that.
    </p>
    <hr/>
    <p>
      All Text and Image, unless otherwise noted, is under <br>
      <a href="https://creativecommons.org/licenses/by-nd/4.0/">CC-BY-ND 4.0</a> <em>by Peter Körner / MaZderMind</em>.<br>
      <a href="impressum/">Impressum</a>
    </p>
  </p>
</div>